<noscript>
<div id='noscript'>
    This page requires JavaScript.<br>
    Please enable it to proceed.
</div>
</noscript>

<script src="/components/require.js" data-main="/js/main.js"></script>

<script>
    // 'use strict';
    //
    // // requirejs.config({
    // //     waitSeconds: 60,
    // //     packages: [
    // //         { name: 'components', location: '/components' }
    // //     ]
    // // });
    //
    // require([
    //     'components/jupyter-js-services',
    //     'components/jupyter-js-output-area'
    // ], function(Services, OutputArea) {
    //     var loc = window.location;
    //     var kernelUrl = loc.protocol + '//' + loc.host;
    //
    //     var kernelOptions = {
    //         baseUrl: kernelUrl,
    //         wsUrl: kernelUrl.replace(/^http/, 'ws'),
    //         name: 'python3'
    //     };
    //     Services.startNewKernel(kernelOptions)
    //         .then(function(kernel) {
    //             // show a busy indicator when communicating with kernel
    //             var debounced;
    //             kernel.statusChanged.connect(function(_kernel, status) {
    //                 clearTimeout(debounced);
    //                 debounced = setTimeout(function() {
    //                     var isBusy = status === Services.KernelStatus.Busy;
    //                     $('.busy-indicator')
    //                         .toggleClass('show', isBusy)
    //                         // Prevent progress animation when hidden by removing 'active' class.
    //                         .find('.progress-bar')
    //                             .toggleClass('active', isBusy);
    //                 }, 500);
    //             });
    //             kernel.commOpened.connect(function(_kernel, commMsg) {
    //                 var comm = kernel.connectToComm(commMsg.target_name, commMsg.comm_id);
    //             });
    //         })
    //         .catch(function(e) {
    //             console.error('failed to create kernel', e);
    //         });
    // });
</script>
